/* Estilos de contenido */

.contenido__de__intereses {
  padding-top: 50px;
  min-height: 100vh;
}

.titulo__de__la__pagina__intereses {
  font-size: 3rem;
  margin: auto;
  text-align: center;
}

/* Estilos de las listas de mis intereses personales */

.contenedor__de__las__listas__de__intereses {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  flex-wrap: wrap;
}

.contenedor__de__los__textos__de__intereses {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  max-width: 700px;
}

.subtitulo {
  font-size: 1.5rem;
  margin: auto;
  text-align: center;
}

.lista__de__intereses {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.lista__de__intereses > li {
  font-size: 0.8rem;
  list-style-type: circle;
  margin-left: 25px;
}

.mini__resumen__de__mis__intereses {
  width: 100%;
  margin: auto;
  font-size: 0.8rem;
}

.imagen__de__michi__pintor {
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
}

/* Estilos de la parte del video */

.contenedor__de__el__video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 80px;
  padding: 15px;
}

.video__de__youtube {
  border-radius: 20px;
}

.descripcion__breve__del__video {
  width: 100%;
  max-width: 500px;
}
